.header-menu{
    background-color: rgb(131, 131, 40);
    color: white;
    height: 70px;
    display: flex;
    align-items: center;
   
    
}
.lista-menu{
    display: flex;
    margin-left: 40px;
    list-style-type: none;
    gap: 1000px;
}
.right-corner{
    display: flex;
    gap: 100px;
    
}